<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mushiny.workbin.dao.MdStorageBinMapper" >

  <sql id="Base_Column_List" >
    id, code, name, short_name, x_coordinate, y_coordinate, z_coordinate, allocation, 
    allocation_status, field, field_index, order_index, plc_code, scan_code, stock_taking_date, 
    storage_bin_type_id, capacity_id, cluster_id, rack_id, area_id, zone_id, section_id, 
    only_singles, client_id, warehouse_id, remark, status, entity_lock, del_flag, version, 
    creator, create_date, updater, update_date
  </sql>
    <select id="getByCode" resultType="com.mushiny.workbin.entity.MdStorageBin">
      select * from md_storage_bin
      where code =#{code}
    </select>
    <select id="getAvailableBin" resultType="com.mushiny.workbin.entity.MdStorageBin">
      SELECT
      b.*
      FROM
      md_storage_bin b
      WHERE
      NOT EXISTS ( SELECT DISTINCT sb.* FROM inv_unit_load ul WHERE b.id = ul.storage_bin_id )
      AND NOT EXISTS ( SELECT DISTINCT sb.* FROM int_transport_order o WHERE b.id = o.destination_bin_id and o.status != 30 )
      <if test="binType !=null and binType >0">
        AND b.storage_bin_type_id = #{binType}
      </if>
    </select>

</mapper>